$theme-light:#5fa5a9;
$theme-dark:#e0e0e0;
$theme-focus:#508c8f;

$btn-focus:#508c8f;
$btn-light:#6a83a3;
$btn-dark:#b8b8b8;
$btn-active:#6dbec2;

$link:#0072bc;

$theme-font:Roboto;
$font-grey-color:#808080;

$header-height:60px;