<header class='login-header'>
	<logo></logo>
</header>

<div class='row login-body' ng-app='myApp'>
	<div class='form-container'>
		<form>
			<div class='form-group'>
				<label for='user-name'>Choose a Username</label>
				<input type='text' class='form-control' id='user-name'>
			</div>
			<div class='form-group'>
				<label for='pwd'>Password</label>
				<input type='password' class='form-control' id='pwd'>
			</div>
			<div><input type='checkbox' value=''> &nbsp; Remember Me</div>
			<a href='#admin'><button class='btn-light'>LOG IN</button></a>
			<a href='#/'>Forgot Your Password?</a>
		</form>
	</div>
	<a href='#register'><button class='btn-dark'>REGISTER</button></a>	
</div>