<div class='content' ng-controller='usersController'>
	<div class='row user-management'>
		<h3>USER MANAGEMENT</h3>
		<div class="input-group col-md-2 pull-right">
	     	<input type="text" class="form-control" placeholder="Search">
	     	<span class='input-group-addon' style="border-radius: 0px 20px 20px 0px;background:white; border-left-color: white"><i class='glyphicon glyphicon-search'></i></span>
	    </div>
	    <table class='col-md-12 table-striped table-bordered'>
	    	<thead>
    			<th style='width: 12%;'>Last Name <i class="fa fa-angle-up" aria-hidden="true"></i><i class="fa fa-angle-down" aria-hidden="true"></i></th>
    			<th style='width: 12%'>First Name<i class="fa fa-angle-up" aria-hidden="true"></i><i class="fa fa-angle-down" aria-hidden="true"></i></th>
    			<th style='width: 20%;'>Email<i class="fa fa-angle-up" aria-hidden="true"></i><i class="fa fa-angle-down" aria-hidden="true"></i></th>
    			<th style='width: 15%'>User Name<i class="fa fa-angle-up" aria-hidden="true"></i><i class="fa fa-angle-down" aria-hidden="true"></i></th>
    			<th style='width: 15%'>Title<i class="fa fa-angle-up" aria-hidden="true"></i><i class="fa fa-angle-down" aria-hidden="true"></i></th>
    			<th style='width: 26%'>Groups<i class="fa fa-angle-up" aria-hidden="true"></i><i class="fa fa-angle-down" aria-hidden="true"></i></th>
	    	</thead>
	    	<tbody>
	    		<tr ng-repeat='x in users'>
	    			<td>{{x.lastName}}</td>
	    			<td>{{x.firstName}}</td>
	    			<td>{{x.email}}</td>
	    			<td>{{x.userName}}</td>
	    			<td>{{x.title}}</td>
	    			<td>{{x.group}}</td>
	    		</tr>
	    	</tbody>
	    </table>
	</div>

	<div class = 'row'>
		<div class='col-md-9'>
			<div class='recent-activities'>
				<h3>RECENT ACTIVITIES</h3>
				<ul>
					<li ng-repeat='x in activities'>{{x.user}} <strong>{{x.activity}}</strong> an <strong>{{x.object}}</strong> <a href='#' style='font-weight: bold; font-style:italic;'>{{x.title}}</a>, {{x.time}}
					</li>
				</ul>
			</div>
		</div>
		<div class='col-md-3 edit-group'>
			<h3>EDIT GROUPS</h3>
			<ul>
				<li ng-repeat='x in groups'>
					<input type='checkbox' id='{{$index}}'>
					<label for='{{$index}}'>{{x}}</label>
				</li>
				<button class='btn-dark' style='margin-left: 20px; margin-top:15px; width:200px; height:40px'>SAVE CHANGES</button>
			</ul>
			
		</div>
	</div>
</div>